# Virtual environments
.venv/

# Local environment files
.env

# Byte-compiled / cache
__pycache__/
*.pyc

# VSCode settings (behalve launch.json)
.vscode/*
!.vscode/launch.json

# Robot Framework outputs
results/
log.html
report.html
output.xml