# Python
__pycache__/
*.pyc
.venv/

# Robot Framework results
results/
output.xml
log.html
report.html

# Env vars
.env

# OS junk
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Keep scripts (we commit .sh and .bat, useful cross-platform)
# run-dev.sh   (Linux/Mac/Pi)
# run-dev.bat  (Windows)
# run-prod.sh  (Pi/Linux/Mac)
